#root {
  width: 100%;
  margin: 0 auto;
  padding: 20px 10%;
  /* text-align: center; */
  background: black;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  /* min-width: 320px;
  min-height: 100vh; */
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  
}

.footer-left{
  padding: 0px;
}

.logos-redes{
  align-self: flex-end;
  display: flex;
}

.logo-principal{
  align-self: flex-start;
  padding-left: 10px;
}

.logo {
  height: 1.5rem;
  padding: 0.5rem;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  border-bottom: 2px solid white;
  
}
ul{
  list-style: none;
  color: aliceblue;
  display: flex;
  padding: 0;
  cursor: pointer;
}

ul li{
  padding: 10px;
}

ul li:hover {
  border-bottom: 2px solid white;
}

.footer-right{
  display: flex;
  flex-direction: column;
}

.read-the-docs {
  color: #888;
}

@media (max-width: 460px) {
  #root{
    flex-direction: column;
  }
  .footer-left{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  .logo-principal{
    padding: 0px;
    align-self: center;
    display: flex;
    margin: 0px;
  }
  .footer-left ul{
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .logos-redes{
    align-self: center;
  }
  .read-the-docs{
    text-align:center ;
  }
}
