@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

$font-type: 'Alata'; 
$font-type2: 'Josefin Sans';
$color-White: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
$color-Grey: hsl(0, 0%, 55%);
$color-Very-Dark-Gray: hsl(0, 0%, 41%);