
  
  @media (max-width: 1441px) {
    .body {
      display: block; 
    }
    .body-mobile{
        display: none;
    }
  }
  
  @media (max-width: 375px) {
    .body-mobile {
      display: block; 
    }
    .body{
        display: none;
    }
  }

  
  
  
  
