.footer{
  background-color: black;
  padding: 30px;
  margin-top: 80px;
  width: 100%;
}

.footer-top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.logo img{
  display: flex;
  height: 2rem;
  padding: 0.7rem;
  padding-top: 10px;
  margin-left: 30px;
  will-change: filter;
  transition: filter 300ms;
  transform: scale(1.5);
}

.icons-footer{
  display: flex;
  padding-top: 10px;
  margin-right: 60px;
}

.footer-bottom{
  display: flex;
  justify-content: space-between;

}

.all-right-reserved{
  margin-top: 10px;
  margin-right: 60px;
}


body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  /* min-width: 320px;
  min-height: 100vh; */
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  
}



.logo {
  display: flex;
  height: 2rem;
  padding: 0.7rem;
  padding-top: 10px;
  will-change: filter;
  transition: filter 300ms;
  transform: scale(1.5);
}

.logo-iconos:hover {
  border-bottom: 2px solid white;
  
}
ul{
  list-style: none;
  color: aliceblue;
  display: flex;
  padding: 0;
  cursor: pointer;
}

ul li{
  padding: 10px;
}

ul li:hover {
  border-bottom: 2px solid white;
}

.footer-right{
  display: flex;
  flex-direction: column;
 padding-right: 20px;
  
}

.read-the-docs {
  color: #888;
  max-width: 600px;
  margin: 0;
  text-align: right;
}

@media (max-width: 460px) {
  #root{
    flex-direction: column;
  }
  .footer-top{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
  }
  .footer-bottom{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  .footer-list ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .icons-footer {
    margin-left: 50px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
  }
  .all-right-reserved{
    display: flex;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
  }
  .logo-principal{
    padding: 0px;
    align-self: center;
    display: flex;
    margin: 0px;
  }
  .footer-left ul{
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .logos-redes{
    align-self: center;
  }
  .read-the-docs{
    text-align:center ;
  }
}
